<configuration>
    <property name="file_path" value="../logs" />
    <property name="project.artifactId" value="hope3" />
    <!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名,%i索引【从数字0开始递增】,,, -->
    <!-- appender是configuration的子节点，是负责写日志的组件。 -->
    <!-- ConsoleAppender：把日志输出到控制台 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p (%file:%line\)- %m%n</pattern>
            <!-- 控制台也要使用UTF-8，不要使用GBK，否则会中文乱码 -->
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!--控制台日志第二种方案-->
   <!-- <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>-->
    <!-- RollingFileAppender：滚动记录文件，先将日志记录到指定文件，当符合某个条件时，将日志记录到其他文件 -->
    <!-- 以下的大概意思是：1.先按日期存日志，日期变了，将前一天的日志文件名重命名为XXX%日期%索引，新的日志仍然是sys.log -->
    <!--             2.如果日期没有发生变化，但是当前日志的文件大小超过10MB时，对当前日志进行分割 重命名-->
    <!-- 所有日志 -->
    <appender name="syslog"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${file_path}/sys.log</File>
        <!-- rollingPolicy:当发生滚动时，决定 RollingFileAppender 的行为，涉及文件移动和重命名。 -->
        <!-- TimeBasedRollingPolicy： 最常用的滚动策略，它根据时间来制定滚动策略，既负责滚动也负责出发滚动 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 活动文件的名字会根据fileNamePattern的值，每隔一段时间改变一次 -->
            <!-- 文件名：log/sys.2017-12-05.0.log -->
            <fileNamePattern>${file_path}/sys.%d.%i.log</fileNamePattern>
            <!-- 每产生一个日志文件，该日志文件的保存期限为30天 -->
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- maxFileSize:这是活动文件的大小，默认值是10MB -->
                <maxFileSize>1GB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <!-- pattern节点，用来设置日志的输入格式 -->
            <pattern>
                %d %p (%file:%line\)- %m%n
            </pattern>
            <!-- 记录日志的编码 -->
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
    </appender>
    <appender name="imglog"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${file_path}/imglog.log</File>
        <!-- rollingPolicy:当发生滚动时，决定 RollingFileAppender 的行为，涉及文件移动和重命名。 -->
        <!-- TimeBasedRollingPolicy： 最常用的滚动策略，它根据时间来制定滚动策略，既负责滚动也负责出发滚动 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 活动文件的名字会根据fileNamePattern的值，每隔一段时间改变一次 -->
            <!-- 文件名：log/sys.2017-12-05.0.log -->
            <fileNamePattern>${file_path}/imglog.%d.%i.log</fileNamePattern>
            <!-- 每产生一个日志文件，该日志文件的保存期限为30天 -->
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- maxFileSize:这是活动文件的大小，默认值是10MB -->
                <maxFileSize>1GB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <!-- pattern节点，用来设置日志的输入格式 -->
            <pattern>
                %d %p (%file:%line\)- %m%n
            </pattern>
            <!-- 记录日志的编码 -->
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
    </appender>

    <!-- 所有日志第二种方案 -->
    <!--<appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${file_path}/${project.artifactId}/rolling/${project.artifactId}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${file_path}/${project.artifactId}/rolling/${project.artifactId}_%d{yyyy-MM-dd}.%i.log.zip
            </fileNamePattern>
            &lt;!&ndash; 保存多少天 &ndash;&gt;
            &lt;!&ndash; <maxHistory>30</maxHistory> &ndash;&gt;
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>2GB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

    </appender>-->
    <!-- ###################### SQL日志监控 ###################### -->
    <appender name="SqlStatistics"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${file_path}/${project.artifactId}/sql/${project.artifactId}_sql_%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <!-- <maxHistory>3</maxHistory> -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--impl类日志-->
    <appender name="ImplStatistics"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${file_path}/${project.artifactId}/impl/${project.artifactId}_impl_%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <!-- <maxHistory>3</maxHistory> -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.icbc.zsyw.hope3.impl" level="DEBUG">
        <appender-ref ref="ImplStatistics" />
    </logger>
    <!--sql日志打印级别-->

   <logger name="java.sql.Connection" level="INFO">
        <appender-ref ref="SqlStatistics" />
    </logger>
    <logger name="java.sql.Statement" level="INFO">
        <appender-ref ref="SqlStatistics" />
    </logger>
    <logger name="java.sql.PreparedStatement" level="INFO">
        <appender-ref ref="SqlStatistics" />
    </logger>

    <!-- ###################### SQL日志监控 ###################### -->
    <!-- ###################### DAO日志监控 ###################### -->
    <appender name="DaoStatistics"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${file_path}/${project.artifactId}/dao/${project.artifactId}_dao_%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <!-- <maxHistory>3</maxHistory> -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <!--sql日志打印级别-->

 <logger name="com.icbc.zsyw.hope3.mapper" level="DEBUG">
        <appender-ref ref="DaoStatistics" />
    </logger>

    <!-- ###################### DAO日志监控 ###################### -->
    <!-- 错误日志-->
    <appender name="errorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${file_path}/${project.artifactId}/error/${project.artifactId}_error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${file_path}/${project.artifactId}/error/${project.artifactId}_error_%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <!-- <maxHistory>60</maxHistory> -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!-- 错误日志-->
    <!-- 控制台输出日志级别 -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
    <!-- 指定项目中某个包，当有日志操作行为时的日志记录级别 -->
    <!-- com.appley为根包，也就是只要是发生在这个根包下面的所有日志操作行为的权限都是DEBUG -->
    <!-- 级别依次为【从高到低】：FATAL > ERROR > WARN > INFO > DEBUG > TRACE  -->

   <logger name="com.icbc.zsyw.hope3" level="DEBUG">
        <appender-ref ref="syslog" />
    </logger>
    <logger name="com.icbc.zsyw.hope3.controller" level="DEBUG">
        <appender-ref ref="syslog" />
    </logger>
    <logger name="com.icbc.zsyw.hope3.util" level="DEBUG">
        <appender-ref ref="syslog" />
    </logger>
    <!-- 测试环境+开发环境. 多个使用逗号隔开. -->
  <!-- <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="STDOUT" />
           <appender-ref ref="RollingFile" />
           <appender-ref ref="errorFile" /> ;
        </root>
    </springProfile>-->

   <!-- <springProfile name="test">
        <root level="INFO">
            &lt;!&ndash; <appender-ref ref="STDOUT" /> &ndash;&gt;
            <appender-ref ref="RollingFile" />
            <appender-ref ref="errorFile" />
        </root>
    </springProfile>-->

    <!-- 生产环境. -->
    <!--<springProfile name="prod">
        <root level="INFO">
            &lt;!&ndash; <appender-ref ref="STDOUT" /> &ndash;&gt;
            <appender-ref ref="RollingFile" />
            <appender-ref ref="errorFile" />
        </root>
    </springProfile>-->
</configuration>
