<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icbc.zsyw.hope3.mapper.HopeviewBroadcastPrivMapper" >
  <resultMap id="BaseResultMap" type="com.icbc.zsyw.hope3.dto.HopeviewBroadcastPriv" >
    <result column="broadcastid" property="broadcastid" jdbcType="INTEGER" />
    <result column="privtype" property="privtype" jdbcType="INTEGER" />
    <result column="aamid" property="aamid" jdbcType="VARCHAR" />
    <result column="deptid" property="deptid" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.icbc.zsyw.hope3.dto.HopeviewBroadcastPriv" >
    insert into hopeviewbroadcastpriv (broadcastid, privtype, aamid, 
      deptid)
    values (#{broadcastid,jdbcType=INTEGER}, #{privtype,jdbcType=INTEGER}, #{aamid,jdbcType=VARCHAR}, 
      #{deptid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.icbc.zsyw.hope3.dto.HopeviewBroadcastPriv" >
    insert into hopeviewbroadcastpriv
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="broadcastid != null" >
        broadcastid,
      </if>
      <if test="privtype != null" >
        privtype,
      </if>
      <if test="aamid != null" >
        aamid,
      </if>
      <if test="deptid != null" >
        deptid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="broadcastid != null" >
        #{broadcastid,jdbcType=INTEGER},
      </if>
      <if test="privtype != null" >
        #{privtype,jdbcType=INTEGER},
      </if>
      <if test="aamid != null" >
        #{aamid,jdbcType=VARCHAR},
      </if>
      <if test="deptid != null" >
        #{deptid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>