<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icbc.zsyw.hope3.mapper.HopeImagebarMapper" >
  <resultMap id="BaseResultMap" type="com.icbc.zsyw.hope3.dto.HopeImagebar" >
    <id column="imagebarid" property="imagebarid" jdbcType="INTEGER" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="starttime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="weight" property="weight" jdbcType="INTEGER" />
    <result column="enabled" property="enabled" jdbcType="INTEGER" />
    <result column="published" property="published" jdbcType="INTEGER" />
    <result column="moduleurl" property="moduleurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    imagebarid, icon, starttime, endtime, weight, enabled, published, moduleurl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hopeimagebar
    where imagebarid = #{imagebarid,jdbcType=INTEGER}
  </select>
  <select id="queryHopeImagebar" resultType ="com.icbc.zsyw.hope3.dto.HopeImagebar" parameterType="com.icbc.zsyw.hope3.dto.HopePrivGroup" >
   SELECT hi.* FROM hopeimagebar hi INNER JOIN
          (SELECT imagebarid FROM hopeviewimagebarpriv WHERE aamid = #{aamid,jdbcType=VARCHAR} OR deptid = #{deptid,jdbcType=VARCHAR} OR odeptid = #{odeptid,jdbcType=VARCHAR} GROUP BY imagebarid) b
          ON hi.imagebarid = b.imagebarid  WHERE hi.enabled = 1 AND hi.published=0
UNION
          SELECT * FROM hopeimagebar WHERE  enabled = 1 AND published=1 GROUP BY imagebarid ORDER BY weight DESC

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hopeimagebar
    where imagebarid = #{imagebarid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.icbc.zsyw.hope3.dto.HopeImagebar" >
    insert into hopeimagebar (imagebarid, icon, starttime, 
      endtime, weight, enabled, 
      published, moduleurl)
    values (#{imagebarid,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR}, #{starttime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{weight,jdbcType=INTEGER}, #{enabled,jdbcType=INTEGER}, 
      #{published,jdbcType=INTEGER}, #{moduleurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.icbc.zsyw.hope3.dto.HopeImagebar" >
    insert into hopeimagebar
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imagebarid != null" >
        imagebarid,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="published != null" >
        published,
      </if>
      <if test="moduleurl != null" >
        moduleurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imagebarid != null" >
        #{imagebarid,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="published != null" >
        #{published,jdbcType=INTEGER},
      </if>
      <if test="moduleurl != null" >
        #{moduleurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icbc.zsyw.hope3.dto.HopeImagebar" >
    update hopeimagebar
    <set >
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="published != null" >
        published = #{published,jdbcType=INTEGER},
      </if>
      <if test="moduleurl != null" >
        moduleurl = #{moduleurl,jdbcType=VARCHAR},
      </if>
    </set>
    where imagebarid = #{imagebarid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.icbc.zsyw.hope3.dto.HopeImagebar" >
    update hopeimagebar
    set icon = #{icon,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      weight = #{weight,jdbcType=INTEGER},
      enabled = #{enabled,jdbcType=INTEGER},
      published = #{published,jdbcType=INTEGER},
      moduleurl = #{moduleurl,jdbcType=VARCHAR}
    where imagebarid = #{imagebarid,jdbcType=INTEGER}
  </update>
</mapper>