<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icbc.zsyw.hope3.mapper.HopeshortcutbarSeqMapper" >
  <resultMap id="BaseResultMap" type="com.icbc.zsyw.hope3.dto.HopeshortcutbarSeq" >
    <id column="shortcutbarid" property="shortcutbarid" jdbcType="INTEGER" />
    <result column="shortcutbarname" property="shortcutbarname" jdbcType="VARCHAR" />
    <result column="privtype" property="privtype" jdbcType="INTEGER" />
    <result column="aamid" property="aamid" jdbcType="VARCHAR" />
    <result column="deptid" property="deptid" jdbcType="VARCHAR" />
    <result column="deptname" property="deptname" jdbcType="VARCHAR" />
    <result column="privgroupid" property="privgroupid" jdbcType="VARCHAR" />
    <result column="odeptid" property="odeptid" jdbcType="VARCHAR" />
    <result column="odeptname" property="odeptname" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    shortcutbarid, shortcutbarname, privtype, aamid, deptid, deptname, privgroupid, odeptid, 
    odeptname, weight
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hopeshortcutbarseq
    where shortcutbarid = #{shortcutbarid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hopeshortcutbarseq
    where shortcutbarid = #{shortcutbarid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.icbc.zsyw.hope3.dto.HopeshortcutbarSeq" >
    insert into hopeshortcutbarseq (shortcutbarid, shortcutbarname, privtype, 
      aamid, deptid, deptname, 
      privgroupid, odeptid, odeptname, 
      weight)
    values (#{shortcutbarid,jdbcType=INTEGER}, #{shortcutbarname,jdbcType=VARCHAR}, #{privtype,jdbcType=INTEGER}, 
      #{aamid,jdbcType=VARCHAR}, #{deptid,jdbcType=VARCHAR}, #{deptname,jdbcType=VARCHAR}, 
      #{privgroupid,jdbcType=VARCHAR}, #{odeptid,jdbcType=VARCHAR}, #{odeptname,jdbcType=VARCHAR}, 
      #{weight,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.icbc.zsyw.hope3.dto.HopeshortcutbarSeq" >
    insert into hopeshortcutbarseq
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shortcutbarid != null" >
        shortcutbarid,
      </if>
      <if test="shortcutbarname != null" >
        shortcutbarname,
      </if>
      <if test="privtype != null" >
        privtype,
      </if>
      <if test="aamid != null" >
        aamid,
      </if>
      <if test="deptid != null" >
        deptid,
      </if>
      <if test="deptname != null" >
        deptname,
      </if>
      <if test="privgroupid != null" >
        privgroupid,
      </if>
      <if test="odeptid != null" >
        odeptid,
      </if>
      <if test="odeptname != null" >
        odeptname,
      </if>
      <if test="weight != null" >
        weight,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shortcutbarid != null" >
        #{shortcutbarid,jdbcType=INTEGER},
      </if>
      <if test="shortcutbarname != null" >
        #{shortcutbarname,jdbcType=VARCHAR},
      </if>
      <if test="privtype != null" >
        #{privtype,jdbcType=INTEGER},
      </if>
      <if test="aamid != null" >
        #{aamid,jdbcType=VARCHAR},
      </if>
      <if test="deptid != null" >
        #{deptid,jdbcType=VARCHAR},
      </if>
      <if test="deptname != null" >
        #{deptname,jdbcType=VARCHAR},
      </if>
      <if test="privgroupid != null" >
        #{privgroupid,jdbcType=VARCHAR},
      </if>
      <if test="odeptid != null" >
        #{odeptid,jdbcType=VARCHAR},
      </if>
      <if test="odeptname != null" >
        #{odeptname,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icbc.zsyw.hope3.dto.HopeshortcutbarSeq" >
    update hopeshortcutbarseq
    <set >
      <if test="shortcutbarname != null" >
        shortcutbarname = #{shortcutbarname,jdbcType=VARCHAR},
      </if>
      <if test="privtype != null" >
        privtype = #{privtype,jdbcType=INTEGER},
      </if>
      <if test="aamid != null" >
        aamid = #{aamid,jdbcType=VARCHAR},
      </if>
      <if test="deptid != null" >
        deptid = #{deptid,jdbcType=VARCHAR},
      </if>
      <if test="deptname != null" >
        deptname = #{deptname,jdbcType=VARCHAR},
      </if>
      <if test="privgroupid != null" >
        privgroupid = #{privgroupid,jdbcType=VARCHAR},
      </if>
      <if test="odeptid != null" >
        odeptid = #{odeptid,jdbcType=VARCHAR},
      </if>
      <if test="odeptname != null" >
        odeptname = #{odeptname,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=INTEGER},
      </if>
    </set>
    where shortcutbarid = #{shortcutbarid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.icbc.zsyw.hope3.dto.HopeshortcutbarSeq" >
    update hopeshortcutbarseq
    set shortcutbarname = #{shortcutbarname,jdbcType=VARCHAR},
      privtype = #{privtype,jdbcType=INTEGER},
      aamid = #{aamid,jdbcType=VARCHAR},
      deptid = #{deptid,jdbcType=VARCHAR},
      deptname = #{deptname,jdbcType=VARCHAR},
      privgroupid = #{privgroupid,jdbcType=VARCHAR},
      odeptid = #{odeptid,jdbcType=VARCHAR},
      odeptname = #{odeptname,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=INTEGER}
    where shortcutbarid = #{shortcutbarid,jdbcType=INTEGER}
  </update>
</mapper>