<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icbc.zsyw.hope3.mapper.HopeUserFavorMapper" >
  <resultMap id="BaseResultMap" type="com.icbc.zsyw.hope3.dto.HopeUserFavor" >
    <id column="favorid" property="favorid" jdbcType="INTEGER" />
    <result column="aamid" property="aamid" jdbcType="VARCHAR" />
    <result column="favortype" property="favortype" jdbcType="INTEGER" />
    <result column="moduleid" property="moduleid" jdbcType="INTEGER" />
    <result column="activityid" property="activityid" jdbcType="INTEGER" />
    <result column="modulesequence" property="modulesequence" jdbcType="INTEGER" />
    <result column="activitysequence" property="activitysequence" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    favorid, aamid, favortype, moduleid, activityid, modulesequence, activitysequence
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hopeuserfavor
    where favorid = #{favorid,jdbcType=INTEGER}
  </select>
  <select id="queryWatchHopeModule" resultType="com.icbc.zsyw.hope3.dto.HopeModule" parameterType="com.icbc.zsyw.hope3.dto.HopeUserFavor" >
SELECT hm.moduleid,hm.modulename,hm.shortname,hm.description,hm.icon,hm.image,hm.modulegroupname,hm.url,hm.useurltype,hm.modulestatus,
b.modulesequence AS sequence from hopemodule hm INNER JOIN
(SELECT moduleid,modulesequence FROM hopeuserfavor WHERE aamid = #{aamid,jdbcType=VARCHAR} AND favortype = #{favortype,jdbcType=INTEGER}) b ON hm.moduleid = b.moduleid

  </select>
  <select id="queryModuleByAamid" resultType="com.icbc.zsyw.hope3.dto.HopeUserFavor" parameterType="com.alibaba.fastjson.JSONObject" >
 SELECT hu.aamid,hu.moduleid,hu.modulesequence FROM hopeuserfavor hu WHERE aamid = #{aamid,jdbcType=VARCHAR} AND favortype = #{key,jdbcType=INTEGER}
  </select>
  <select id="selectWatchModule" resultType="java.lang.Integer" parameterType="com.alibaba.fastjson.JSONObject" >
SELECT favorid FROM hopeuserfavor WHERE aamid = #{aamid,jdbcType=VARCHAR} AND moduleid = #{moduleid,jdbcType=INTEGER} AND favortype = 0
  </select>
  <select id="checkShoucang" resultType="java.lang.Integer" parameterType="com.alibaba.fastjson.JSONObject" >
SELECT COUNT(*) FROM hopeuserfavor h WHERE aamid = #{aamid,jdbcType=VARCHAR}  AND activityid = #{activityid,jdbcType=INTEGER} AND favortype = 1
  </select>
  <select id="selectModuleMaxSequence" resultType="java.lang.Integer">
SELECT MAX(modulesequence) FROM hopeuserfavor WHERE favortype = 0
  </select>
  <select id="getshoucangliang" resultType="java.lang.Integer" parameterType="com.alibaba.fastjson.JSONObject" >
SELECT COUNT(*) FROM hopeuserfavor WHERE activityid=#{activityid,jdbcType=INTEGER} AND favortype = 1
  </select>
  <delete id="deleteByAamidAndAcid" parameterType="com.icbc.zsyw.hope3.dto.HopeUserFavor" >
 DELETE FROM hopeuserfavor WHERE aamid = #{aamid,jdbcType=VARCHAR} AND activityid=#{activityid,jdbcType=INTEGER} AND favortype=1
  </delete>
  <delete id="deleteByAamAndModule" parameterType="com.icbc.zsyw.hope3.dto.HopeUserFavor" >
 DELETE  FROM hopeuserfavor WHERE aamid  = #{aamid,jdbcType=VARCHAR} AND moduleid= #{moduleid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteMoudelByAamidAndType" parameterType="com.icbc.zsyw.hope3.dto.HopeUserFavor" >
 DELETE  FROM hopeuserfavor WHERE aamid  = #{aamid,jdbcType=VARCHAR} AND favortype= #{favortype,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hopeuserfavor
    where favorid = #{favorid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.icbc.zsyw.hope3.dto.HopeUserFavor" >
    insert into hopeuserfavor (favorid, aamid, favortype, 
      moduleid, activityid, modulesequence, 
      activitysequence)
    values (#{favorid,jdbcType=INTEGER}, #{aamid,jdbcType=VARCHAR}, #{favortype,jdbcType=INTEGER}, 
      #{moduleid,jdbcType=INTEGER}, #{activityid,jdbcType=INTEGER}, #{modulesequence,jdbcType=INTEGER}, 
      #{activitysequence,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.icbc.zsyw.hope3.dto.HopeUserFavor" >
    insert into hopeuserfavor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="favorid != null" >
        favorid,
      </if>
      <if test="aamid != null" >
        aamid,
      </if>
      <if test="favortype != null" >
        favortype,
      </if>
      <if test="moduleid != null" >
        moduleid,
      </if>
      <if test="activityid != null" >
        activityid,
      </if>
      <if test="modulesequence != null" >
        modulesequence,
      </if>
      <if test="activitysequence != null" >
        activitysequence,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="favorid != null" >
        #{favorid,jdbcType=INTEGER},
      </if>
      <if test="aamid != null" >
        #{aamid,jdbcType=VARCHAR},
      </if>
      <if test="favortype != null" >
        #{favortype,jdbcType=INTEGER},
      </if>
      <if test="moduleid != null" >
        #{moduleid,jdbcType=INTEGER},
      </if>
      <if test="activityid != null" >
        #{activityid,jdbcType=INTEGER},
      </if>
      <if test="modulesequence != null" >
        #{modulesequence,jdbcType=INTEGER},
      </if>
      <if test="activitysequence != null" >
        #{activitysequence,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="insertFavorList"  parameterType="java.util.List">
    insert into hopeuserfavor ( aamid, favortype,
    moduleid, modulesequence)
    values
    <foreach collection="hopeUserFavor" item="item" index="index" separator="," >
      (
      #{item.aamid,jdbcType=VARCHAR},
      #{item.favortype,jdbcType=INTEGER},
      #{item.moduleid,jdbcType=INTEGER},
      #{item.modulesequence,jdbcType=INTEGER}
      )
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icbc.zsyw.hope3.dto.HopeUserFavor" >
    update hopeuserfavor
    <set >
      <if test="aamid != null" >
        aamid = #{aamid,jdbcType=VARCHAR},
      </if>
      <if test="favortype != null" >
        favortype = #{favortype,jdbcType=INTEGER},
      </if>
      <if test="moduleid != null" >
        moduleid = #{moduleid,jdbcType=INTEGER},
      </if>
      <if test="activityid != null" >
        activityid = #{activityid,jdbcType=INTEGER},
      </if>
      <if test="modulesequence != null" >
        modulesequence = #{modulesequence,jdbcType=INTEGER},
      </if>
      <if test="activitysequence != null" >
        activitysequence = #{activitysequence,jdbcType=TIMESTAMP},
      </if>
    </set>
    where favorid = #{favorid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.icbc.zsyw.hope3.dto.HopeUserFavor" >
    update hopeuserfavor
    set aamid = #{aamid,jdbcType=VARCHAR},
      favortype = #{favortype,jdbcType=INTEGER},
      moduleid = #{moduleid,jdbcType=INTEGER},
      activityid = #{activityid,jdbcType=INTEGER},
      modulesequence = #{modulesequence,jdbcType=INTEGER},
      activitysequence = #{activitysequence,jdbcType=TIMESTAMP}
    where favorid = #{favorid,jdbcType=INTEGER}
  </update>
  <update id="updateHopeUserFavor" parameterType="com.icbc.zsyw.hope3.dto.HopeUserFavor" >
   UPDATE hopeuserfavor SET modulesequence = #{modulesequence,jdbcType=INTEGER} WHERE aamid = #{aamid,jdbcType=VARCHAR} AND moduleid = #{moduleid,jdbcType=INTEGER} AND favortype = #{favortype,jdbcType=INTEGER}
  </update>
</mapper>