<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icbc.zsyw.hope3.mapper.HopeShortcutBarMapper" >
  <resultMap id="BaseResultMap" type="com.icbc.zsyw.hope3.dto.HopeShortcutBar" >
    <id column="shortcutbarid" property="shortcutbarid" jdbcType="INTEGER" />
    <id column="shortcutbarname" property="shortcutbarname" jdbcType="VARCHAR" />
    <id column="moduleid" property="moduleid" jdbcType="INTEGER" />
    <result column="shortcutbardescript" property="shortcutbardescript" jdbcType="VARCHAR" />
    <result column="shortcut_image" property="shortcutImage" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    shortcutbarid, shortcutbarname, moduleid, shortcutbardescript, shortcut_image
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.icbc.zsyw.hope3.dto.HopeShortcutBarKey" >
    select 
    <include refid="Base_Column_List" />
    from hopeshortcutbar
    where shortcutbarid = #{shortcutbarid,jdbcType=INTEGER}
      and shortcutbarname = #{shortcutbarname,jdbcType=VARCHAR}
      and moduleid = #{moduleid,jdbcType=INTEGER}
  </select>
  <select id="queryShortcutBar" resultType ="com.icbc.zsyw.hope3.dto.HopeShortcutBar" parameterType="com.alibaba.fastjson.JSONObject" >
    SELECT hs.shortcutbarname,hs.shortcut_image AS shortcutImage,hs.shortcutbardescript FROM hopeshortcutbar hs INNER JOIN
       (SELECT shortcutbarname FROM hopeviewshortcutbarpriv WHERE aamid = #{aamid,jdbcType=VARCHAR} OR deptid = #{deptid,jdbcType=VARCHAR} OR odeptid = #{odeptid,jdbcType=VARCHAR} GROUP BY shortcutbarname) b
      ON hs.shortcutbarname = b.shortcutbarname
  </select>
  <select id="queryShortcutBarByAamid" resultType ="com.icbc.zsyw.hope3.dto.HopeShortcutBar" parameterType="com.alibaba.fastjson.JSONObject" >
    SELECT hs.shortcutbarname,hs.shortcut_image AS shortcutImage,hs.shortcutbardescript,hs.moduleid,b.weight FROM hopeshortcutbar hs INNER JOIN
       (SELECT shortcutbarname,weight FROM hopeshortcutbarseq WHERE aamid = #{aamid,jdbcType=VARCHAR}) b
      ON hs.shortcutbarname = b.shortcutbarname ORDER BY b.weight ASC
  </select>
  <select id="queryShortcutBarByDeptid" resultType ="com.icbc.zsyw.hope3.dto.HopeShortcutBar" parameterType="com.alibaba.fastjson.JSONObject" >
    SELECT hs.shortcutbarname,hs.shortcut_image AS shortcutImage,hs.shortcutbardescript,hs.moduleid,b.weight FROM hopeshortcutbar hs INNER JOIN
       (SELECT shortcutbarname,weight FROM hopeshortcutbarseq WHERE deptid = #{deptid,jdbcType=VARCHAR}) b
      ON hs.shortcutbarname = b.shortcutbarname ORDER BY b.weight ASC
  </select>
  <select id="queryShortcutBarByPrivtype" resultType ="com.icbc.zsyw.hope3.dto.HopeShortcutBar" parameterType="com.alibaba.fastjson.JSONObject" >
    SELECT hs.shortcutbarname,hs.shortcut_image AS shortcutImage,hs.shortcutbardescript,hs.moduleid,b.weight FROM hopeshortcutbar hs INNER JOIN
       (SELECT shortcutbarname,weight FROM hopeshortcutbarseq WHERE privtype = 4) b
      ON hs.shortcutbarname = b.shortcutbarname ORDER BY b.weight ASC
  </select>
  <select id="queryShortcutBarByOdeptid" resultType ="com.icbc.zsyw.hope3.dto.HopeShortcutBar" parameterType="com.alibaba.fastjson.JSONObject" >
    SELECT hs.shortcutbarname,hs.shortcut_image AS shortcutImage,hs.shortcutbardescript,hs.moduleid,b.weight FROM hopeshortcutbar hs INNER JOIN
       (SELECT shortcutbarname,weight FROM hopeshortcutbarseq WHERE odeptid = #{odeptid,jdbcType=VARCHAR}) b
      ON hs.shortcutbarname = b.shortcutbarname ORDER BY b.weight ASC
  </select>
  <select id="queryModuleByShortcutbar" resultType="com.icbc.zsyw.hope3.dto.HopeModule" parameterType="com.alibaba.fastjson.JSONObject" >
   SELECT hm.moduleid,hm.modulename,hm.shortname,hm.description,hm.icon,hm.image,hm.modulegroupname,hm.url FROM hopemodule hm INNER JOIN
     (SELECT hs.moduleid FROM hopeshortcutbar hs INNER JOIN
    (SELECT moduleid FROM hopeviewmodulepriv WHERE aamid = #{aamid,jdbcType=VARCHAR} OR deptid=#{deptid,jdbcType=VARCHAR} OR odeptid = #{odeptid,jdbcType=VARCHAR} GROUP BY moduleid) b ON hs.moduleid = b.moduleid
     WHERE hs.shortcutbarname = #{shortcutbarname,jdbcType=VARCHAR} GROUP BY hs.moduleid) c ON c.moduleid = hm.moduleid WHERE hm.enabled = 1
  </select>
  <select id="queryByadoid" resultType="com.icbc.zsyw.hope3.dto.HopeShortcutBar" parameterType="com.alibaba.fastjson.JSONObject" >
  SELECT hs.shortcutbarname,hs.shortcut_image AS shortcutImage,hs.shortcutbardescript,hs.moduleid,c.weight FROM hopeshortcutbar hs INNER JOIN
(SELECT hq.shortcutbarname,hq.weight,hq.privgroupid FROM hopeshortcutbarseq hq INNER JOIN
(SELECT privgroupid FROM hopeprivgroup WHERE aamid = #{aamid,jdbcType=VARCHAR} OR deptid=#{deptid,jdbcType=VARCHAR} OR odeptid = #{odeptid,jdbcType=VARCHAR} GROUP BY privgroupid) b ON b.privgroupid=hq.privgroupid) c
 ON hs.shortcutbarname = c.shortcutbarname ORDER BY c.weight ASC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.icbc.zsyw.hope3.dto.HopeShortcutBarKey" >
    delete from hopeshortcutbar
    where shortcutbarid = #{shortcutbarid,jdbcType=INTEGER}
      and shortcutbarname = #{shortcutbarname,jdbcType=VARCHAR}
      and moduleid = #{moduleid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.icbc.zsyw.hope3.dto.HopeShortcutBar" >
    insert into hopeshortcutbar (shortcutbarid, shortcutbarname, moduleid, 
      shortcutbardescript, shortcut_image)
    values (#{shortcutbarid,jdbcType=INTEGER}, #{shortcutbarname,jdbcType=VARCHAR}, #{moduleid,jdbcType=INTEGER}, 
      #{shortcutbardescript,jdbcType=VARCHAR}, #{shortcutImage,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.icbc.zsyw.hope3.dto.HopeShortcutBar" >
    insert into hopeshortcutbar
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shortcutbarid != null" >
        shortcutbarid,
      </if>
      <if test="shortcutbarname != null" >
        shortcutbarname,
      </if>
      <if test="moduleid != null" >
        moduleid,
      </if>
      <if test="shortcutbardescript != null" >
        shortcutbardescript,
      </if>
      <if test="shortcutImage != null" >
        shortcut_image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shortcutbarid != null" >
        #{shortcutbarid,jdbcType=INTEGER},
      </if>
      <if test="shortcutbarname != null" >
        #{shortcutbarname,jdbcType=VARCHAR},
      </if>
      <if test="moduleid != null" >
        #{moduleid,jdbcType=INTEGER},
      </if>
      <if test="shortcutbardescript != null" >
        #{shortcutbardescript,jdbcType=VARCHAR},
      </if>
      <if test="shortcutImage != null" >
        #{shortcutImage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icbc.zsyw.hope3.dto.HopeShortcutBar" >
    update hopeshortcutbar
    <set >
      <if test="shortcutbardescript != null" >
        shortcutbardescript = #{shortcutbardescript,jdbcType=VARCHAR},
      </if>
      <if test="shortcutImage != null" >
        shortcut_image = #{shortcutImage,jdbcType=VARCHAR},
      </if>
    </set>
    where shortcutbarid = #{shortcutbarid,jdbcType=INTEGER}
      and shortcutbarname = #{shortcutbarname,jdbcType=VARCHAR}
      and moduleid = #{moduleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.icbc.zsyw.hope3.dto.HopeShortcutBar" >
    update hopeshortcutbar
    set shortcutbardescript = #{shortcutbardescript,jdbcType=VARCHAR},
      shortcut_image = #{shortcutImage,jdbcType=VARCHAR}
    where shortcutbarid = #{shortcutbarid,jdbcType=INTEGER}
      and shortcutbarname = #{shortcutbarname,jdbcType=VARCHAR}
      and moduleid = #{moduleid,jdbcType=INTEGER}
  </update>
</mapper>